<footer id="footer_CodeSkillz" class="text-center text-lg-start text-white" style="background-color: #1c2331">
  <section class="d-flex justify-content-between p-4" style="background-color: #615dfa">
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="" class="text-white mr-3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white mr-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white mr-2">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white mr-3">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white mr-3">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white mr-3">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <section>
    <div class="text-left  container text-md-start mt-5">
      <div class="row mt-3">
        <div class=" col-md-6 col-lg-6 col-xl-4 mb-4">
          <h6 class="text-white text-uppercase fw-bold">Company name</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p class="text-white">
            Here you can use rows and columns to organize your footer
            content. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit.
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-white text-uppercase fw-bold">Useful links</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <a href="#!" class="text-white">Your Account</a>
          </p>
          <p>
            <a href="#!" class="text-white">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!" class="text-white">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" class="text-white">Help</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    {{ main.copyright | safe }}
  </div>
</footer>