<header class="header">
  <div class="header-actions">
    <div class="header-brand">
      <div class="logo">
        <svg class="icon-logo-vikinger small">
          <use xlink:href="#svg-logo-vikinger"></use>
        </svg>
      </div>
      <h1 class="header-brand-text">{{ main.browser_title }}</h1>
    </div>
  </div>
  <div class="header-actions">
    <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
      <div class="burger-icon inverted">
        <div class="burger-icon-bar"></div>
        <div class="burger-icon-bar"></div>
        <div class="burger-icon-bar"></div>
      </div>
    </div>
    <nav class="navigation">
      <ul class="menu-main">
        <li class="menu-main-item">
          <a class="menu-main-item-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="menu-main-item">
          <a class="menu-main-item-link" href="#">Careers</a>
        </li>
        <li class="menu-main-item">
          <p class="menu-main-item-link">
            <svg class="icon-dots">
              <use xlink:href="#svg-dots"></use>
            </svg>
          </p>
          <ul class="menu-main">
            <li class="menu-main-item">
              <a class="menu-main-item-link" href="#">About Us</a>
            </li>
            <li class="menu-main-item">
              <a class="menu-main-item-link" href="#">Faqs</a>
            </li>
            <li class="menu-main-item">
              <a class="menu-main-item-link" href="#">Our Blog</a>
            </li>
            <li class="menu-main-item">
              <a class="menu-main-item-link" href="#">Contact Us</a>
            </li>
            <li class="menu-main-item">
              <a class="menu-main-item-link" href="#">Privacy Policy</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-actions search-bar">
    <div class="interactive-input dark">
      <input type="text" id="search-main" name="search_main" placeholder="Search here for people or groups">
      <div class="interactive-input-icon-wrap">
        <svg class="interactive-input-icon icon-magnifying-glass">
          <use xlink:href="#svg-magnifying-glass"></use>
        </svg>
      </div>
      <div class="interactive-input-action">
        <svg class="interactive-input-action-icon icon-cross-thin">
          <use xlink:href="#svg-cross-thin"></use>
        </svg>
      </div>
    </div>
    <div class="dropdown-box padding-bottom-small header-search-dropdown">
      <div class="dropdown-box-category">
        <p class="dropdown-box-category-title">Members</p>
      </div>
      <div class="dropdown-box-list small no-scroll">
        <a class="dropdown-box-list-item" href="javascript:void(0)">
          <div class="user-status notification">
            <div class="user-status-avatar">
              <div class="user-avatar small no-outline">
                <div class="user-avatar-content">
                  <div class="hexagon-image-30-32" data-src="img/avatar/05.jpg"></div>
                </div>
                <div class="user-avatar-progress">
                  <div class="hexagon-progress-40-44"></div>
                </div>
                <div class="user-avatar-progress-border">
                  <div class="hexagon-border-40-44"></div>
                </div>
                <div class="user-avatar-badge">
                  <div class="user-avatar-badge-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-badge-content">
                    <div class="hexagon-dark-16-18"></div>
                  </div>
                  <p class="user-avatar-badge-text">12</p>
                </div>
              </div>
            </div>
            <p class="user-status-title"><span class="bold">Neko Bebop</span></p>
            <p class="user-status-text">1 friends in common</p>
            <div class="user-status-icon">
              <svg class="icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>
            </div>
          </div>
        </a>
        <a class="dropdown-box-list-item" href="javascript:void(0)">
          <div class="user-status notification">
            <div class="user-status-avatar">
              <div class="user-avatar small no-outline">
                <div class="user-avatar-content">
                  <div class="hexagon-image-30-32" data-src="img/avatar/15.jpg"></div>
                </div>
                <div class="user-avatar-progress">
                  <div class="hexagon-progress-40-44"></div>
                </div>
                <div class="user-avatar-progress-border">
                  <div class="hexagon-border-40-44"></div>
                </div>
                <div class="user-avatar-badge">
                  <div class="user-avatar-badge-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-badge-content">
                    <div class="hexagon-dark-16-18"></div>
                  </div>
                  <p class="user-avatar-badge-text">7</p>
                </div>
              </div>
            </div>
            <p class="user-status-title"><span class="bold">Tim Rogers</span></p>
            <p class="user-status-text">4 friends in common</p>
            <div class="user-status-icon">
              <svg class="icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="dropdown-box-category">
        <p class="dropdown-box-category-title">Groups</p>
      </div>
      <div class="dropdown-box-list small no-scroll">
        <a class="dropdown-box-list-item" href="javascript:void(0)">
          <div class="user-status notification">
            <div class="user-status-avatar">
              <div class="user-avatar small no-border">
                <div class="user-avatar-content">
                  <div class="hexagon-image-40-44" data-src="img/avatar/24.jpg"></div>
                </div>
              </div>
            </div>
            <p class="user-status-title"><span class="bold">Cosplayers of the World</span></p>
            <p class="user-status-text">139 members</p>
            <div class="user-status-icon">
              <svg class="icon-group">
                <use xlink:href="#svg-group"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="dropdown-box-category">
        <p class="dropdown-box-category-title">Marketplace</p>
      </div>
      <div class="dropdown-box-list small no-scroll">
        <a class="dropdown-box-list-item" href="javascript:void(0)">
          <div class="user-status no-padding-top">
            <div class="user-status-avatar">
              <figure class="picture small round liquid">
                <img src="img/marketplace/items/07.jpg" alt="item-07">
              </figure>
            </div>
            <p class="user-status-title"><span class="bold">Mercenaries White Frame</span></p>
            <p class="user-status-text">By Neko Bebop</p>
            <div class="user-status-icon">
              <svg class="icon-marketplace">
                <use xlink:href="#svg-marketplace"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="header-actions">
    <div class="action-list dark">
      <div class="action-list-item-wrap">
        <div class="action-list-item unread header-dropdown-trigger">
          <svg class="action-list-item-icon icon-notification">
            <use xlink:href="#svg-notification"></use>
          </svg>
        </div>
        <div class="dropdown-box header-dropdown">
          <div class="dropdown-box-header">
            <p class="dropdown-box-header-title">Notifications</p>
            <div class="dropdown-box-header-actions">
              <p class="dropdown-box-header-action">Mark all as Read</p>
              <p class="dropdown-box-header-action">Settings</p>
            </div>
          </div>
          <div class="dropdown-box-list" data-simplebar>
            <div class="dropdown-box-list-item unread">
              <div class="user-status notification">
                <a class="user-status-avatar" href="javascript:void(0)">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="img/avatar/03.jpg"></div>
                    </div>
                    <div class="user-avatar-progress">
                      <div class="hexagon-progress-40-44"></div>
                    </div>
                    <div class="user-avatar-progress-border">
                      <div class="hexagon-border-40-44"></div>
                    </div>
                    <div class="user-avatar-badge">
                      <div class="user-avatar-badge-border">
                        <div class="hexagon-22-24"></div>
                      </div>
                      <div class="user-avatar-badge-content">
                        <div class="hexagon-dark-16-18"></div>
                      </div>
                      <p class="user-avatar-badge-text">16</p>
                    </div>
                  </div>
                </a>
                <p class="user-status-title"><a class="bold" href="javascript:void(0)">Nick Grissom</a> posted a
                  comment on your <a class="highlighted" href="javascript:void(0)">status update</a></p>
                <p class="user-status-timestamp">2 minutes ago</p>
                <div class="user-status-icon">
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="dropdown-box-list-item">
              <div class="user-status notification">
                <a class="user-status-avatar" href="javascript:void(0)">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="img/avatar/07.jpg"></div>
                    </div>
                    <div class="user-avatar-progress">
                      <div class="hexagon-progress-40-44"></div>
                    </div>
                    <div class="user-avatar-progress-border">
                      <div class="hexagon-border-40-44"></div>
                    </div>
                    <div class="user-avatar-badge">
                      <div class="user-avatar-badge-border">
                        <div class="hexagon-22-24"></div>
                      </div>
                      <div class="user-avatar-badge-content">
                        <div class="hexagon-dark-16-18"></div>
                      </div>
                      <p class="user-avatar-badge-text">26</p>
                    </div>
                  </div>
                </a>
                <p class="user-status-title"><a class="bold" href="javascript:void(0)">Sarah Diamond</a> left a like
                  <img class="reaction" src="img/reaction/like.png" alt="reaction-like"> reaction on your <a
                    class="highlighted" href="javascript:void(0)">status update</a></p>
                <p class="user-status-timestamp">17 minutes ago</p>
                <div class="user-status-icon">
                  <svg class="icon-thumbs-up">
                    <use xlink:href="#svg-thumbs-up"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="dropdown-box-list-item">
              <div class="user-status notification">
                <a class="user-status-avatar" href="javascript:void(0)">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="img/avatar/02.jpg"></div>
                    </div>
                    <div class="user-avatar-progress">
                      <div class="hexagon-progress-40-44"></div>
                    </div>
                    <div class="user-avatar-progress-border">
                      <div class="hexagon-border-40-44"></div>
                    </div>
                    <div class="user-avatar-badge">
                      <div class="user-avatar-badge-border">
                        <div class="hexagon-22-24"></div>
                      </div>
                      <div class="user-avatar-badge-content">
                        <div class="hexagon-dark-16-18"></div>
                      </div>
                      <p class="user-avatar-badge-text">13</p>
                    </div>
                  </div>
                </a>
                <p class="user-status-title"><a class="bold" href="javascript:void(0)">Destroy Dex</a> posted a
                  comment on your <a class="highlighted" href="javascript:void(0)">photo</a></p>
                <p class="user-status-timestamp">31 minutes ago</p>
                <div class="user-status-icon">
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="dropdown-box-list-item">
              <div class="user-status notification">
                <a class="user-status-avatar" href="javascript:void(0)">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="img/avatar/10.jpg"></div>
                    </div>
                    <div class="user-avatar-progress">
                      <div class="hexagon-progress-40-44"></div>
                    </div>
                    <div class="user-avatar-progress-border">
                      <div class="hexagon-border-40-44"></div>
                    </div>
                    <div class="user-avatar-badge">
                      <div class="user-avatar-badge-border">
                        <div class="hexagon-22-24"></div>
                      </div>
                      <div class="user-avatar-badge-content">
                        <div class="hexagon-dark-16-18"></div>
                      </div>
                      <p class="user-avatar-badge-text">5</p>
                    </div>
                  </div>
                </a>
                <p class="user-status-title"><a class="bold" href="javascript:void(0)">
                  The Green Goo</a> left a love <img class="reaction" src="img/reaction/love.png" alt="reaction-love">
                  reaction on your <a class="highlighted" href="javascript:void(0)">status update</a></p>
                <p class="user-status-timestamp">2 hours ago</p>
                <div class="user-status-icon">
                  <svg class="icon-thumbs-up">
                    <use xlink:href="#svg-thumbs-up"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="dropdown-box-list-item">
              <div class="user-status notification">
                <a class="user-status-avatar" href="javascript:void(0)">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <div class="hexagon-image-30-32" data-src="img/avatar/05.jpg"></div>
                    </div>
                    <div class="user-avatar-progress">
                      <div class="hexagon-progress-40-44"></div>
                    </div>
                    <div class="user-avatar-progress-border">
                      <div class="hexagon-border-40-44"></div>
                    </div>
                    <div class="user-avatar-badge">
                      <div class="user-avatar-badge-border">
                        <div class="hexagon-22-24"></div>
                      </div>
                      <div class="user-avatar-badge-content">
                        <div class="hexagon-dark-16-18"></div>
                      </div>
                      <p class="user-avatar-badge-text">12</p>
                    </div>
                  </div>
                </a>
                <p class="user-status-title"><a class="bold" href="javascript:void(0)">
                  Neko Bebop</a> posted a comment on your <a class="highlighted" href="javascript:void(0)">status
                  update</a></p>
                <p class="user-status-timestamp">3 hours ago</p>
                <div class="user-status-icon">
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <a class="dropdown-box-button secondary" href="javascript:void(0)">View all Notifications</a>
        </div>
      </div>
    </div>
    <div class="action-item-wrap">
      <div class="action-item dark header-settings-dropdown-trigger">
        <svg class="action-item-icon icon-settings">
          <use xlink:href="#svg-settings"></use>
        </svg>
      </div>
      <div class="dropdown-navigation header-settings-dropdown">
        <div class="dropdown-navigation-header">
          <div class="user-status">
            <a class="user-status-avatar" href="javascript:void(0)">
              <div class="user-avatar small no-outline">
                <div class="user-avatar-content">
                  <div class="hexagon-image-30-32" data-src="img/avatar/01.jpg"></div>
                </div>
                <div class="user-avatar-progress">
                  <div class="hexagon-progress-40-44"></div>
                </div>
                <div class="user-avatar-progress-border">
                  <div class="hexagon-border-40-44"></div>
                </div>
                <div class="user-avatar-badge">
                  <div class="user-avatar-badge-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-badge-content">
                    <div class="hexagon-dark-16-18"></div>
                  </div>
                  <p class="user-avatar-badge-text">24</p>
                </div>
              </div>
            </a>
            <p class="user-status-title"><span class="bold">Hi Marina!</span></p>
            <p class="user-status-text small"><a href="javascript:void(0)">@marinavalentine</a></p>
          </div>
        </div>
        <p class="dropdown-navigation-category">My Profile</p>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Profile Info</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Social &amp; Stream</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Notifications</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Messages</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Friend Requests</a>
        <p class="dropdown-navigation-category">Account</p>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Account Info</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Change Password</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">General Settings</a>
        <p class="dropdown-navigation-category">Groups</p>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Manage Groups</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Invitations</a>
        <p class="dropdown-navigation-category">My Store</p>
        <a class="dropdown-navigation-link" href="javascript:void(0)">My Account <span
          class="highlighted">$250,32</span></a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Sales Statement</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Manage Items</a>
        <a class="dropdown-navigation-link" href="javascript:void(0)">Downloads</a>
        <p class="dropdown-navigation-button button small secondary">Logout</p>
      </div>
    </div>
  </div>
</header>