{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'front/css/vendor/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/css/styles.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/css/vendor/simplebar.css' %}">
  <link rel="stylesheet" href="{% static 'front/css/vendor/tiny-slider.css' %}">
  <link rel="stylesheet" href="{% static 'front/css/fontawesome/css/all.min.css' %}">
  <link rel="icon" href="{% static 'front/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'front/css/CodeSkillz.css' %}">
  <title>{{ main.browser_title }}</title>
</head>