{% load static %}
<script src="{% static 'front/js/utils/app.js' %}"></script>
<script src="{% static 'front/js/utils/page-loader.js' %}"></script>
<script src="{% static 'front/js/vendor/simplebar.min.js' %}"></script>
<script src="{% static 'front/js/utils/liquidify.js' %}"></script>
<script src="{% static 'front/js/vendor/xm_plugins.min.js' %}"></script>
<script src="{% static 'front/js/vendor/tiny-slider.min.js' %}"></script>
<script src="{% static 'front/js/global/global.hexagons.js' %}"></script>
<script src="{% static 'front/js/global/global.tooltips.js' %}"></script>
<script src="{% static 'front/js/global/global.popups.js' %}"></script>
<script src="{% static 'front/js/header/header.js' %}"></script>
<script src="{% static 'front/js/sidebar/sidebar.js' %}"></script>
<script src="{% static 'front/js/content/content.js' %}"></script>
<script src="{% static 'front/js/form/form.utils.js' %}"></script>
<script src="{% static 'front/js/widget/twitter.js' %}"></script>
<script src="{% static 'front/js/utils/svg-loader.js' %}"></script>