<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
      <div class="app-brand">
        <a href="{% url 'panel' %}" title="CodeSkillz">
          <svg
            class="brand-icon"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            width="30"
            height="33"
            viewBox="0 0 30 33">
            <g fill="none" fill-rule="evenodd">
              <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z"/>
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z"/>
            </g>
          </svg>
          <span class="brand-name text-truncate">CodeSkillz</span>
        </a>
      </div>
      <div class="" data-simplebar style="height: 100%;">
        <ul class="nav sidebar-inner" id="sidebar-menu">
          <li class="has-sub active expand">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
               aria-expanded="false" aria-controls="dashboard">
              <i class="mdi mdi-view-dashboard-outline"></i>
              <span class="nav-text">Dashboard</span> <b class="caret"></b>
            </a>
            <ul class="collapse show" id="dashboard" data-parent="#sidebar-menu">
              <div class="sub-menu">
                <li class="active">
                  <a class="sidenav-item-link" href="javascript:void(0)">
                    <span class="nav-text">Sub</span>
                  </a>
                </li>
                <li class="has-sub">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#buttons"
                     aria-expanded="false" aria-controls="buttons">
                    <span class="nav-text">Sub</span> <b class="caret"></b>
                  </a>
                  <ul class="collapse " id="buttons">
                    <div class="sub-menu">
                      <li class="">
                        <a href="javascript:void(0)">Sub Sub</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </div>
            </ul>
          </li>
          <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#basics"
               aria-expanded="false" aria-controls="basics">
              <i class="mdi mdi-wrench"></i>
              <span class="nav-text">Basics</span> <b class="caret"></b>
            </a>
            <ul class="collapse" id="basics" data-parent="#sidebar-menu">
              <div class="sub-menu">
                <li class="">
                  <a class="sidenav-item-link" href="{% url 'panel_configs' %}">
                    <span class="nav-text">Configs</span>
                  </a>
                </li>
              </div>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </aside>