{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include 'panel/_partials/_head.html' %}
<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
<script>
    NProgress.configure({showSpinner: false});
    NProgress.start();
</script>
<div id="toaster"></div>
<div class="wrapper">
  <a href="https://github.com/farzadasgari/CodeSkillz" target="_blank" class="github-link">
    <svg width="70" height="70" viewBox="0 0 250 250" aria-hidden="true">
      <defs>
        <linearGradient id="grad1" x1="0%" y1="75%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#896def;stop-opacity:1"/>
          <stop offset="100%" style="stop-color:#482271;stop-opacity:1"/>
        </linearGradient>
      </defs>
      <path d="M 0,0 L115,115 L115,115 L142,142 L250,250 L250,0 Z" fill="url(#grad1)"></path>
    </svg>
    <i class="mdi mdi-github-circle"></i>
  </a>
  {% include 'panel/_partials/_aside.html' %}
  <div class="page-wrapper">
      {% include 'panel/_partials/_header.html' %}
    <div class="content-wrapper">
      <div class="content">
      </div>
    </div>
    {% include 'panel/_partials/_footer.html' %}
  </div>
</div>
{% include 'panel/_partials/_scripts.html' %}


</body>
</html>
