{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'front/_partials/_head.html' %}
<body>
{% include 'front/_partials/_page_loader.html' %}
{% include 'front/_partials/_nav_desktop.html' %}
{% include 'front/_partials/_nav_mobile.html' %}
{% include 'front/_partials/_header.html' %}
<div class="popup-picture"></div>
<div id="content_CodSkils" class="content-grid">
  {% block content %}
  {% endblock content %}
</div>
{% include 'front/_partials/_footer.html' %}
{% include 'front/_partials/_scripts.html' %}
</body>
</html>